name: test

on: [push, pull_request]

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      versions: '["truffleruby-head"]'
      min_version: 2.5

  build:
    needs: ruby-versions
    name: build (${{ matrix.ruby }} / ${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        include:
          - ruby: mswin
            os: windows-latest
          - ruby: mingw
            os: windows-latest
        exclude:
          - ruby: 2.5
            os: macos-latest
          - ruby: head
            os: windows-latest
          - ruby: truffleruby-head
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # 'bundle install' and cache
    - name: Run test
      run: bundle exec rake compile test
      timeout-minutes: 5

  build-ibm:
    if: github.repository == 'ruby/zlib'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04-ppc64le
          - os: ubuntu-24.04-s390x
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        run: |
          sudo apt-get update
          sudo apt-get install ruby-full bundler zlib1g-dev
      - name: Install dependencies
        run: sudo bundle install --jobs $(nproc)
      - name: Run test
        run: bundle exec rake compile test
        timeout-minutes: 5
